.success-logout-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .success{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
