.user-container{
  .title{
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .car-favorite-list{
    .title{
      display: flex;
      justify-content: left;
      margin: 2% 5%;
    }
  }
}
