.carousel-container{
  height: 100vh;

  .carousel{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .car-info{
      width: 90px;

      .button-group{
        margin: 2% 2%;
      }
    }
  }
}

