.title{
  display: flex;
  justify-content: center;
  margin: 2%;
}

.carousel-container{
  height: 100vh;
  justify-content: center;
  align-items: center;

  .carousel{
    display: flex;
    justify-content: center;
    align-items: center;

    .car-info{
      width: 90px;

      .button-group{
        margin: 2% 2%;
      }
    }
  }
}

