<div class="header-options">
  <header>
    <img src="https://static.vecteezy.com/system/resources/previews/013/923/543/original/blue-car-logo-png.png">
    <button
    (click)="redirecionarHome()"
    mat-raised-button>
    <i
    class="pi pi-home"
    ></i>
    Home
    </button>

    <button
    mat-raised-button
    >
    <mat-icon>
    list
    </mat-icon>
    Serviços
    </button>

    <button
    mat-raised-button
    >
    <mat-icon>
      support_agent
    </mat-icon>
    Contato
    </button>

    @if (!token) {
      <button
      (click)="redirecionarLogin()"
      mat-raised-button
      >
      <mat-icon>
      login
      </mat-icon>
      Entrar
      </button>
    }

    @if (token) {
      <button
      (click)="redirecionarUsuario()"
      mat-raised-button
      >
      <i
      class="pi pi-user"
      >
      </i>
      Usuário
      </button>
    }

    @if (userId == 'f27f9358-c1ef-4451-9a9e-7a1712795819') {
      <button
      [matMenuTriggerFor]="menu"
      mat-mini-fab
      >
      <mat-icon>
      admin_panel_settings
      </mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button
        mat-menu-item
        (click)="redirecionarAdministracao()">
          <mat-icon>person</mat-icon>
          <span>Vendedores</span>
        </button>
        <button
        mat-menu-item
        (click)="redirecionarCarros()"
        >
          <mat-icon>directions_car</mat-icon>
          <span>Veículos</span>
        </button>
      </mat-menu>
    }

  </header>
</div>
