<div class="users-configuration">

  <div class="title">
    @if (!userConfiguration.valid) {
      <h1>Complete os seus dados</h1>

    } @else {
      <h1>Dados do usuário</h1>
    }

  </div>

  <div class="user-configuration-form">
    <form [formGroup]="userConfiguration">

      <mat-form-field>
        <mat-label>Nome completo</mat-label>
        <input type="text" matInput placeholder="Nome completo" formControlName="usuarioNomeCompleto"
        required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>CPF</mat-label>
        <input type="text" matInput placeholder="CPF" formControlName="usuarioCpf"
        minlength="14" maxlength="14" required="true"
        (input)="formatarCpf($event)"
        >
      </mat-form-field>

      <mat-form-field>
        <mat-label>RG</mat-label>
        <input matInput placeholder="Digite o RG" formControlName="usuarioRg" required
        (input)="formatarRg($event)"
        >
      </mat-form-field>

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="Email" formControlName="usuarioEmail" required
               pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">
      </mat-form-field>


      <mat-form-field>
        <mat-label>Contato</mat-label>
        <input type="tel" matInput placeholder="Ex:. 99999999999" formControlName="usuarioContato"
        minlength="15" maxlength="15"
        required (input)="formatarTelefone($event)" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Endereço</mat-label>
        <input type="text" matInput placeholder="Endereço" formControlName="usuarioEndereco" required>
      </mat-form-field>

    </form>
  </div>

  <div class="button-group">
    <button
    (click)="saveConfigurationUser()"
    style="
    color: #fff;
    background-color: black;
    margin-right: 2%;
    "
    mat-raised-button
    >
    <mat-icon
    style="color: #fff;"
    >
      save
    </mat-icon>
    Salvar dados
    </button>

    <button
    (click)="closeModalUserConfiguration()"
    color="warn"
    mat-raised-button
    >
    <mat-icon>
      close
    </mat-icon>
    Voltar
    </button>
  </div>

</div>
