<div class="form-user-register-container" (submit)="registerFormSubmit()">
  <form [formGroup]="formUserRegister">
    <h1 style="color: #fff;">Cadastre-se</h1>

    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input type="text" matInput placeholder="Nome de usuário" formControlName="userName" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input type="email" matInput placeholder="Email" formControlName="email" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Senha</mat-label>
      <input type="password" matInput placeholder="Senha" formControlName="password" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Confirme a senha</mat-label>
      <input type="password" matInput placeholder="Senha" formControlName="confirmPassword" required>
    </mat-form-field>

    <div class="button-group">
      <button
      style="
      color: #101820;
      background-color: #fff;
      margin-right: 2%;"
      type="submit"
      mat-raised-button
      >
      Cadastrar
      <mat-icon>
        person
      </mat-icon>
      </button>

      <button
      (click)="redirecionarLogin()"
      mat-raised-button
      color="warn"
      >
      <mat-icon>
        login
      </mat-icon>
      Login
      </button>
    </div>

  </form>
</div>
