.carousel{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  p-carousel{
   justify-content: center;

    .button-group{
      p-button{
        width: 40px
      }

  }

  }
}
