.title{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 1%;
}

.search-container{
  display: flex;
  justify-content: flex-end;
  margin-right: 8%;
}

.quadro-funcionarios{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2% 2%;

  p-card{
    margin: 1%;
  }

}
