<app-tool-bar></app-tool-bar>

<div class="title">
  <h1 style="text-align: center; margin-top: 2%;">Quadro de funcionários</h1>

  <button
  (click)="openModalSellerForm()"
  style="
  background-color: #101820;
  color: #fff;
  "
  mat-raised-button
  >
  Contratar vendedor
  <mat-icon
  style="color: #fff;"
  >
    person
  </mat-icon>
  </button>
</div>

<div class="quadro-funcionarios">
  @for (seller of sellersDatas; track $index) {
    <p-card [header]="seller.nomeVendedor.length > 20 ? seller.nomeVendedor.substring(0, 20) + '...': seller.nomeVendedor" subheader="Vendedor"  [style]="{ width: '360px', height: '450px'}">
      <ng-template pTemplate="header">
          <img src="{{seller.fotoVendedor}}" style="width: 90%; height: 200px; display: flex; justify-content: center; align-items: center;" />
      </ng-template>

      <div class="button-group" style="margin-bottom: 2%;">
        <button
        (click)="openOpenSellerEdit(seller)"
        style="margin-right: 2%;
        width: 35px;
        height: 35px;
        box-shadow: none;"
        mat-mini-fab
        color="accent"
        >
        <mat-icon
        style="color: #fff;">
          edit
        </mat-icon>
        </button>

        <button
        (click)="openModalSellerInfo(seller)"
        mat-mini-fab
        style="
        width: 35px;
        height: 35px;
        background-color: #2563EB;
        box-shadow: none;"
        >
        <mat-icon
        style="color: #fff;">
        visibility
        </mat-icon>
        </button>

        <button
        style="
        margin-left: 2%;
        width: 35px;
        height: 35px;
        box-shadow: none;"
        color="warn"
        mat-mini-fab
        >
        <mat-icon>
          power_settings_new
        </mat-icon>
        </button>
      </div>
  </p-card>
  }

</div>
