.cars-delete-favorite{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .title{
    text-align: center;
    margin: 0% 4%;
  }

  .button-group{
    display: flex;
    flex-direction: row;
  }

}
