<div class="users-car-favorite-info-container">
  <h2>Modelo: {{car.modeloCarro}}</h2>

  <div class="car-info">
    <h3>Marca: {{car.marcaCarro}}</h3>
    <h3>Ano/Modelo: {{car.anoCarro}}</h3>
    <h3>Cor do modelo: {{car.corCarro}}</h3>
    <h3>Estado: :{{car.estadoCarro}}</h3>
    <h3>Motor: {{car.motorCarro}}</h3>
    <h3>Consumo: {{car.consumoCarro}}</h3>
    <h3>Quilometragem: {{car.quilometragemCarro}}</h3>
    <h3>Lançamento: {{dataLancamentoFormatado}}</h3>
    <h3>Placa do veículo: {{car.placaCarro}}</h3>
  </div>

</div>
